<!-- Using jQuery UI-->
<script>
    $(document).ready(() => {
        const sortables = ".sortable";
        $(sortables).sortable({
            connectWith: sortables,
        });
    });
</script>

<div class="d-flex flex-wrap">
    {{#answers}}
    <div class="drag-drop-container">
        <div class="card-header list-group-item-primary">{{name}}</div>
        <ul class="card-body list-group sortable">
            <li class="list-group-item">Hi</li>
        </ul>
    </div>
    {{/answers}}

    <div class="drag-drop-container">
        <div class="card-header list-group-item-primary">Options</div>
        <ul class="card-body list-group sortable">
            {{#options}}
            <li class="list-group-item">{{name}}</li>
            {{/options}}
        </ul>
    </div>
</div>
