<script>
    $(document).ready(() => {
        $(".droppable").droppable({
            drop: (event, ui) => {
                $(this).find("p").html("Yay!");
            }
        });
        $(".draggable").draggable({
            snap: ".droppable",
            snapMode: "inner",
            revert: "invalid"
        });
    });
</script>

<div class="d-flex flex-wrap">
    {{#answers}}
    <div class="drag-drop-container">
        <div class="card-header list-group-item-primary">{{name}}</div>
        <ul class="card-body list-group">
            <li class="list-group-item droppable">Hi</li>
        </ul>
    </div>
    {{/answers}}

    <div class="drag-drop-container">
        <div class="card-header list-group-item-primary">Options</div>
        <ul class="card-body list-group">
            {{#options}}
            <li class="list-group-item draggable">{{name}}</li>
            {{/options}}
        </ul>
    </div>
</div>
