<script>
    $(document).ready(() => {
        $(".droppable").droppable({
            drop: (event, ui) => {
                $(this).find("p").html("Yay!");
            }
        });
        $(".draggable").draggable({
            snap: ".droppable",
            snapMode: "inner",
            revert: "invalid"
        });
    });
</script>

<ul>
    {{#answers}}
    <li class="droppable">{{name}}</li>
    {{/answers}}
</ul>

<ul>
    {{#options}}
    <li class="draggable">{{name}}</li>
    {{/options}}
</ul>
